@font-face {
  font-family: "Avenir Next";
  src: url("../fonts/AvenirNextLTPro-Regular.otf");
}

body {
  font-family: "Avenir Next";
}

h1 {
  font-size: 1em;
  padding: 30px 50px 50px 30px;
}
nav li {
  display: inline-block;
}

nav a {
  text-decoration: none;
  color: #153d4d;
}

header a img {
  width: 200px;
}
/* Home page */
.top {
  background-image: url("../images/background-picture.jpg");
  background-size: cover;
  position: relative;
  min-height: 100vh;
  background-position-x: right;
  background-position-y: top;
  background-repeat: no-repeat;
}
