@font-face {
  font-family: "Avenir Next";
  src: url("../fonts/AvenirNextLTPro-Regular.otf");
}

body {
  font-family: "Avenir Next";
  color: #1f3c4b;
}

h1 {
  font-size: 1em;
  padding: 30px 50px 50px 30px;
}

header {
  position: relative;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

label {
  font-size: 2.5rem;
}
label,
.logo {
  padding: 10px 20px 0 20px;
}
nav {
  position: absolute;
  z-index: 999;
  right: 0;
}
nav,
#menu-checkbox {
  display: none;
}

#menu-checkbox:checked ~ nav {
  display: block;
}

nav ul {
  margin: 0;
  padding: 0;
}
nav li {
  display: block;
  width: 300px;
  margin: -3px;
  padding: 10px;
  border: solid #153d4d;
  background-color: #fff;
  text-align: center;
  text-transform: uppercase;
}

nav ul li:hover {
  text-decoration: underline;
}
nav a {
  text-decoration: none;
  color: #153d4d;
  font-weight: bold;
}

header a img {
  width: 100px;
}

p {
  color: #1f3c4b;
}

.jacket {
  text-decoration: none;
  color: #0e2833;
}
.cta {
  background-color: #256d8a;
  color: #fff;
  font-weight: bolder;
  padding: 24px;
  text-decoration: none;
  text-transform: uppercase;
}

.cta-top {
  position: absolute;
  bottom: 60px;
  left: 50%;
  transform: translateX(-50%);
  padding: 13px 13px;
}
.top {
  position: relative;
}

#show-more,
.jacket7 {
  display: none;
}

#show-more:checked ~ .jacket7 {
  display: block;
}
#show-more:checked ~ .cta-show_more {
  display: none;
}

.cta-show_more:hover {
  text-decoration: underline;
}
.cta-show_more {
  padding: 13px;
  text-align: center;
  font-size: 0.7rem;
}

.summary-total {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
footer {
  background-color: #266f8c;
  color: #fff;
  display: flex;
  justify-content: space-around;
  height: fit-content;
}

footer a {
  text-decoration: none;
  color: #fff;
  display: block;
}

footer,
footer h3 {
  font-size: 1em;
}
.footer-about,
.footer-contact {
  padding: 20px 20px;
}
/* Home page */
.top {
  background-image: url("../images/background-picture.jpg");
  background-size: cover;
  position: relative;
  min-height: 80vh;
  background-position-x: left;
  background-position-y: top;
  background-repeat: no-repeat;
}

.slogan {
  font-size: 2.5rem;
  position: absolute;
  top: 5%;
  left: 15%;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 100px;
  margin: 40px;
}

.product-list img {
  width: 100%;
}

.jacket p {
  margin: 0;
}

/*Check-out page*/
.summary-jacket {
  height: 10%;
}

.order-summary,
.shipping-info,
.shipping-method,
.payment {
  margin: 20px 20px;
  max-width: 500px;
}
label {
  font-size: 1em;
  margin-left: 1px;
  padding: 5px 0;
}

input,
textarea {
  border-color: #c4c4c4;
  border-radius: 5px;
  padding: 5px;
  margin: 1px 2px 5px 2px;
  width: 70%;
}

.shipping-info_details,
.shipping-method {
  display: flex;
  flex-direction: column;
}

.method {
  display: flex;
  flex-direction: row;
}
.method input {
  border: 0;
  width: 6%;
  height: 1.5em;
}

.method p {
  right: auto;
}

.payment {
  background-color: #bababa;
  color: #737779;
}

/*Product page*/

.product-page {
  display: flex;
  flex-direction: column;
  margin: 20px 40px;
}

.product-page h1 {
  font-size: 2rem;
  padding: 0;
  margin: 20px 0;
}

.cta-select_size,
.product-page,
.price {
  color: #1f3c4b;
  font-weight: bold;
}

.product-description {
  display: flex;
  flex-direction: column;
}
.product-description > * {
  margin: 0;
}
.product-description ul {
  padding: 0 20px;
}
.price {
  font-size: 1.5rem;
}

.cta-select_size {
  border: solid #1f3c4b;
  padding: 6;
  text-decoration: none;
}

.cta-add_to_chart {
  padding: 15px 20px;
  width: 125px;
  margin: 20px 0;
}

/*added to chart page*/

.container-added_to_chart {
  margin: 40px;
}
.chosen-product {
  display: flex;
  flex-direction: row;
}

.chosen-product img {
  height: 150px;
}

}
.chosen-product-specifics {
  display: block;
}

.chosen-product-specifics p {
  margin: 0;
}
.container-added_to_chart {
  position: relative;
}
.container-cta {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 17%;
  top: 120%;
}
.cta-go_to_checkout,
.cta-continue_shopping {
  margin: 5px;
  width: 200px;
  padding: 15px 20px;
  text-align: center;
}

.container-summary_total {
  margin: 40px 0 0 40px;
}

/*contact*/
.contact {
  max-width: 1000px;
  margin: auto;
  text-align: center;
}

.form-wrapper {
  display: flex;
  text-align: left;
}

.form-wrapper > * {
  flex: 1;
  display: flex;
  flex-direction: column;
}

textarea {
  height: 100%;
}
@media (min-width: 600px) {
  header label {
    display: none;
  }

  header {
    position: static;
    justify-content: left;
  }
  nav {
    display: inline-block;
    position: static;
  }

  nav li {
    display: inline-block;
    width: 50px;
    margin: 9px;
    padding: 5px 20px;
    border: none;
    text-transform: none;
  }

  .cta-top {
    bottom: 60px;
    left: 50%;
    transform: translateX(-50%);
    padding: 20px 60px;
    font-size: 1.2em;
  }

  .product-list {
    grid-template-columns: repeat(3, 1fr);
  }
  .cta-show_more {
    padding: 15px;
  }

  footer {
    justify-content: normal;
  }

  .footer-contact,
  .footer-about {
    margin: 0 40px;
  }
}
